<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link href="../static/layui/css/layui.css" rel="stylesheet">
</head>

<body>
    <div class="layui-row">
        <div class="layui-col-md7,layui-col-md-offset3">
            <div class="layui-row grid-demo grid-demo-bg1">
                <div class="layui-col-md3">
                    <div class="grid-demo">25%</div>
                </div>
                <div class="layui-col-md3">
                    <div class="grid-demo grid-demo-bg3">内部列</div>
                </div>
                <div class="layui-col-md9">
                    <div class="grid-demo grid-demo-bg2">内部列1</div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>